In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt

/home/aeon/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/aeon/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [10]:
data_path = "data/"
#Load OECD Better Life Index data.
bli_df = pd.read_csv(data_path + "oecd_bli_2015.csv")
#Load IMF GDP per capita data.
#Encoding is different from Unicode, so Unicode based decoding won't work.
#Have to use latin1
gdp_df = pd.read_csv(data_path + "gdp_per_capita.csv", delimiter="\t", encoding="latin1")

In [11]:
#See the BLI data.
bli_df.head(2)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN

In [12]:
#See the GDP data.
gdp_df.head(2)

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","3,995.383",2010.0

In [34]:
#Check if 'Country' field qualifies as a primary key for join.
print("Country field in BLI Table is a Primary Key : ", ~bli_df["Country"].duplicated().any())
print("Country field in GDP Table is a Primary Key : ", ~gdp_df["Country"].duplicated().any())

Country field in BLI Table is a Primary Key :  False
Country field in GDP Table is a Primary Key :  True

In [28]:
#Check why 'Country' is not a proper primary key.
bli_df["Country"].value_counts()

Slovak Republic    90
Russia             90
Portugal           90
Switzerland        90
Chile              90
Hungary            90
New Zealand        90
Japan              90
Ireland            90
Greece             90
Norway             90
Sweden             90
Mexico             90
Finland            90
Iceland            90
Korea              90
Czech Republic     90
Turkey             90
Poland             90
Estonia            90
Italy              90
Spain              89
United Kingdom     89
Luxembourg         89
Austria            89
Canada             89
France             89
Australia          89
Germany            89
Netherlands        88
Brazil             88
Slovenia           88
United States      88
Belgium            88
Israel             88
Denmark            88
OECD - Total       74
Name: Country, dtype: int64

In [29]:
#Check why multiple entries against same "Country" value.
bli_df[bli_df["Country"] == "Australia"]

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.100000,E,Estimated value
37,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,1.100000,E,Estimated value
73,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,1.100000,E,Estimated value
109,AUS,Australia,HO_HISH,Housing expenditure,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,20.000000,NaN,NaN
146,AUS,Australia,HO_HISH,Housing expenditure,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,20.000000,E,Estimated value
182,AUS,Australia,HO_HISH,Housing expenditure,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,20.000000,E,Estimated value
218,AUS,Australia,HO_NUMR,Rooms per person,L,Value,TOT,Total,RATIO,Ratio,0,units,NaN,NaN,2.300000,E,Estimated value
255,AUS,Australia,HO_NUMR,Rooms per person,L,Value,MN,Men,RATIO,Ratio,0,units,NaN,NaN,2.300000,E,Estimated value
291,AUS,Australia,HO_NUMR,Rooms per person,L,Value,WMN,Women,RATIO,Ratio,0,units,NaN,NaN,2.300000,E,Estimated value
327,AUS,Australia,IW_HADI,Household net adjusted disposable income,L,Value,TOT,Total,USD,US Dollar,0,units,NaN,NaN,31588.000000,NaN,NaN
364,AUS,Australia,IW_HADI,Household net adjusted disposable income,L,Value,MN,Men,USD,US Dollar,0,units,NaN,NaN,31588.000000,E,Estimated value
400,AUS,Australia,IW_HADI,Household net adjusted disposable income,L,Value,WMN,Women,USD,US Dollar,0,units,NaN,NaN,31588.000000,E,Estimated value
436,AUS,Australia,IW_HADI,Household net adjusted disposable income,L,Value,HGH,High,USD,US Dollar,0,units,NaN,NaN,62627.000000,E,Estimated value
473,AUS,Australia,IW_HADI,Household net adjusted disposable income,L,Value,LW,Low,USD,US Dollar,0,units,NaN,NaN,11537.000000,E,Estimated value
510,AUS,Australia,IW_HNFW,Household net financial wealth,L,Value,TOT,Total,USD,US Dollar,0,units,NaN,NaN,47657.000000,NaN,NaN
547,AUS,Australia,IW_HNFW,Household net financial wealth,L,Value,MN,Men,USD,US Dollar,0,units,NaN,NaN,47657.000000,E,Estimated value
583,AUS,Australia,IW_HNFW,Household net financial wealth,L,Value,WMN,Women,USD,US Dollar,0,units,NaN,NaN,47657.000000,E,Estimated value
619,AUS,Australia,JE_EMPL,Employment rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,72.000000,NaN,NaN
656,AUS,Australia,JE_EMPL,Employment rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,78.000000,NaN,NaN
693,AUS,Australia,JE_EMPL,Employment rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,66.000000,NaN,NaN
730,AUS,Australia,JE_EMPL,Employment rate,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,83.000000,E,Estimated value
767,AUS,Australia,JE_EMPL,Employment rate,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,55.000000,E,Estimated value
804,AUS,Australia,JE_JT,Job security,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,4.800000,NaN,NaN
841,AUS,Australia,JE_JT,Job security,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,4.800000,NaN,NaN
878,AUS,Australia,JE_JT,Job security,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,4.900000,NaN,NaN
915,AUS,Australia,JE_LTUR,Long-term unemployment rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.080000,NaN,NaN
952,AUS,Australia,JE_LTUR,Long-term unemployment rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,1.140000,NaN,NaN
989,AUS,Australia,JE_LTUR,Long-term unemployment rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,1.010517,NaN,NaN
1026,AUS,Australia,JE_LTUR,Long-term unemployment rate,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,0.610000,E,Estimated value
1063,AUS,Australia,JE_LTUR,Long-term unemployment rate,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,1.810000,E,Estimated value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,AUS,Australia,CG_VOTO,Voter turnout,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,93.000000,NaN,NaN
2225,AUS,Australia,CG_VOTO,Voter turnout,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,93.000000,E,Estimated value
2262,AUS,Australia,CG_VOTO,Voter turnout,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,93.000000,E,Estimated value
2299,AUS,Australia,CG_VOTO,Voter turnout,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,94.000000,E,Estimated value
2336,AUS,Australia,CG_VOTO,Voter turnout,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,92.000000,E,Estimated value
2373,AUS,Australia,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,units,NaN,NaN,82.100000,NaN,NaN
2410,AUS,Australia,HS_LEB,Life expectancy,L,Value,MN,Men,YR,Years,0,units,NaN,NaN,79.900000,NaN,NaN
2447,AUS,Australia,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,units,NaN,NaN,84.300000,NaN,NaN
2484,AUS,Australia,HS_SFRH,Self-reported health,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,85.000000,NaN,NaN
2521,AUS,Australia,HS_SFRH,Self-reported health,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,85.000000,NaN,NaN
2558,AUS,Australia,HS_SFRH,Self-reported health,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,85.000000,NaN,NaN
2595,AUS,Australia,HS_SFRH,Self-reported health,L,Value,HGH,High,PC,Percentage,0,units,NaN,NaN,93.000000,E,Estimated value
2632,AUS,Australia,HS_SFRH,Self-reported health,L,Value,LW,Low,PC,Percentage,0,units,NaN,NaN,76.000000,E,Estimated value
2669,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,units,NaN,NaN,7.300000,NaN,NaN
2706,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,MN,Men,AVSCORE,Average score,0,units,NaN,NaN,7.200000,NaN,NaN
2743,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,WMN,Women,AVSCORE,Average score,0,units,NaN,NaN,7.400000,NaN,NaN
2780,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,HGH,High,AVSCORE,Average score,0,units,NaN,NaN,7.400000,NaN,NaN
2816,AUS,Australia,SW_LIFS,Life satisfaction,L,Value,LW,Low,AVSCORE,Average score,0,units,NaN,NaN,7.200000,NaN,NaN
2848,AUS,Australia,PS_SFRV,Assault rate,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.100000,NaN,NaN
2885,AUS,Australia,PS_SFRV,Assault rate,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,2.500000,NaN,NaN
2922,AUS,Australia,PS_SFRV,Assault rate,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,1.700000,NaN,NaN
2959,AUS,Australia,PS_REPH,Homicide rate,L,Value,TOT,Total,RATIO,Ratio,0,units,NaN,NaN,0.800000,NaN,NaN
2996,AUS,Australia,PS_REPH,Homicide rate,L,Value,MN,Men,RATIO,Ratio,0,units,NaN,NaN,1.100000,NaN,NaN
3033,AUS,Australia,PS_REPH,Homicide rate,L,Value,WMN,Women,RATIO,Ratio,0,units,NaN,NaN,0.600000,NaN,NaN
3070,AUS,Australia,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,14.020000,NaN,NaN
3107,AUS,Australia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,units,NaN,NaN,20.670000,NaN,NaN
3144,AUS,Australia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,units,NaN,NaN,6.500000,NaN,NaN
3181,AUS,Australia,WL_TNOW,Time devoted to leisure and personal care,L,Value,TOT,Total,HOUR,Hours,0,units,NaN,NaN,14.410000,NaN,NaN
3218,AUS,Australia,WL_TNOW,Time devoted to leisure and personal care,L,Value,MN,Men,HOUR,Hours,0,units,NaN,NaN,14.430000,NaN,NaN
3255,AUS,Australia,WL_TNOW,Time devoted to leisure and personal care,L,Value,WMN,Women,HOUR,Hours,0,units,NaN,NaN,14.370000,NaN,NaN

In [35]:
#Seems like there are multiple indicator values in the BLI dataset.
#Life satisfaction for each country is most probably uniquely defined by 
#INDICATOR="SW_LIFS" and INEQUALITY="TOT".
#Create an appropriate filter on these.
bli_filter = (bli_df["INDICATOR"] == "SW_LIFS") & (bli_df["INEQUALITY"] == "TOT")
#Check if filter applied BLI table has 'Country' field as valid primary key.
print("Filter applied BLI Table is a Primary Key : ", ~bli_df[bli_filter]["Country"].duplicated().any())

Filter applied BLI Table is a Primary Key :  True

In [36]:
#Select only relevant data before Join operation.
bli_df = bli_df[bli_filter]

In [37]:
#Do an Inner Join both Dataframes on 'Country' field and select relavent columns.
bli_gdp_df = pd.merge(bli_df, gdp_df, on="Country", how="inner")[["Country", "Value", "2015"]]
bli_gdp_df.head(2)

     Country  Value        2015
0  Australia    7.3  50,961.865
1    Austria    6.9  43,724.031

In [38]:
#Rename the column names to appropriately.
bli_gdp_df.rename(columns={"Value":"Better Life Index", "2015":"GDP per capita"}, inplace=True)
bli_gdp_df.head(2)

     Country  Better Life Index GDP per capita
0  Australia                7.3     50,961.865
1    Austria                6.9     43,724.031